:root{
    --cream: #F9F1F0;
    /*--light-rose: #EED6D3;*/
    --light-rose: #FADCD9;
    /*--rose: #F8AFA6;*/
    --light-gray: #B9B7BD;
    --coral: #F79489;
    --gray: #868B8E;
    /*--gray: #6C6A61;*/
}

body{
    font-family: 'Fredoka One', cursive;
    background-color: var(--light-rose);
}


h1{
    font-family: 'Pacifico', cursive;
    font-size: 4.5rem;
    text-align: center;
    margin: 20px auto;
}

button{
    font-family: inherit;
}

.hide-gameboard{
    display: none;
}

#center{
    
}

#board{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 364px;
    height: 364px;
    border: 6px solid black;
    margin: 0px auto;
    grid-gap: 2px;
    background-color: black;
}

.cell{
    background-color: var(--cream);
    width: 120px;
    height: 120px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 6rem;
    color: var(--gray);
}

.free:hover{
    background-color: var(--light-gray);
}

#message{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 2rem;
    color: var(--gray);
}

#message.won{
    color: black;

}

.won{
    color: black;
}

.btn{
    font-family: inherit;
    height: 50px;
    width: 160px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: black;
    color: var(--cream);
    font-size: 1.9rem;
    cursor: pointer;
    margin: 20px;
}

.btn:hover{
    background-color: var(--gray);
    border: 1px solid var(--gray);
}

#btn-holder{
    display: flex;
    justify-content: center;
}

#modes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    padding: 50px;
}

#modes.hide{
    display:none;
}

.mode{
    height: 100px;
    width: 300px;
    border-radius: 8px;
    border: none;
    background-color: var(--cream);
    text-align: center;
    font-size: 1.9rem;
    cursor: pointer;
    margin: 20px;
    line-height: 100px;
}

.mode:hover{
        background-color: var(--light-gray);
}
